# source: https://github.com/actions/stale
name: 'Close stale issues and PRs'
on:
  schedule:
    - cron: '30 1 * * *'

jobs:
  stale:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/stale@v10
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          stale-issue-message: 'Stale Issue - Deleting'
          stale-pr-message: 'Stale PR - Deleting'
          stale-issue-label: 'stale'
          stale-pr-label: 'stale'
